<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dcg.meneame"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:theme="@style/Theme.mnm">
        <activity android:name=".MeneameMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="MeneameNewsActivity"></activity>
	<activity android:name="MeneameCommentsActivity"></activity>
	<activity android:name="MeneameQueueActivity"></activity>
	<activity android:name="MeneamePreferences"
		android:label="@string/app_pref_name"
		android:theme="@style/Theme.mnm_prefs">
	</activity>
</application>
<uses-sdk android:minSdkVersion="4" />
</manifest> 